# mac
.DS_Store

# eclipse
*.pydevproject
.classpath
.project
.metadata/
.settings/
*/bin/
tmp/
*.tmp
*.bak
*.swp
local.properties
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# IDEA
*.iml
*.ipr
*.iws
.idea/
classes/

# gradle
.gradle/

# build
target/
build/
out/
*.class
*/.gitignore

# nodejs
node_modules
npm-debug.log
yarn.lock
package-lock.json
dist/

# bower
bower_components

# brackets
.brackets.json

# visual studio code
.vscode

# atom-sync
.sync-config.cson

# Logs
logs
*.log

# Runtime data
*.pid
*.seed

# vagrant
.vagrant

# aspectj
native/

# doclet
generated/

# maven
artifacts/%

#node_modules
manager/node_modules

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
**/ios/
**/android/
**/macos/
**/windows/

pubspec.lock

.hbuilderx
.eslintrc-auto-import.json
